<div class="app-inner-layout chat-layout">
  <div class="app-inner-layout__header">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="icon {{icon}} text-info"></i>
          </div>
          <div>
            {{heading}}
            <div class="page-title-subheading">
              {{subheading}}
            </div>
          </div>
        </div>
        <div class="page-title-actions">
          Status:
          <button type="button" class="ml-2 btn badge-info">

          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
    <div class="app-inner-layout__content card">
      <div class="table-responsive">
        <div class="app-inner-layout__top-pane">
          <div class="pane-left">
            <div class="mobile-app-menu-btn">
              <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}"
                (click)="toggleMobileSidebar = !toggleMobileSidebar">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
            </div>
            <h4 class="mb-0 text-nowrap title">Emissões GEE
              <!-- <div class="opacity-7 mt-2">Última atualização: <span class="opacity-8">{{programacao?.dtAtualizacao | date:'d/MM/yyyy H:mm:ss'}}</span></div> -->
            </h4>
          </div>
          <div class="pane-right">
            <button type="button" (click)="add()" class="btn-shadow btn btn-success" *ngIf="monitoramentoGee?.length && !isAddEdit">
              <fa name="plus-circle"></fa> Inserir
            </button>
          </div>
        </div>
        <div class="app-inner-layout__bottom-pane d-block" style="padding: 0px;">
          <div class="mb-0 form-group" style="width: 100%;">
            <div class="col-sm-12">

              <div class="loader-wrapper d-flex justify-content-center align-items-center" *ngIf="loading">
                <div class="loader">
                  <div class="ball-scale-ripple">
                    <div></div>
                  </div>
                </div>
              </div>

              <div *ngIf="!monitoramentoGee?.length && filterForm.valid" class="text-center mt-3">
                <h6>Não foram encontradas emissões cadastradas, para iniciar pressione o botão abaixo;</h6>
                <button (click)="create()" class="mb-2 mr-2 mt-4 btn-icon btn-pill btn btn-outline-success"><i
                    class="pe-7s-plus btn-icon-wrapper"></i>Emissões</button>
              </div>

              <!--adicionar-->
              <div *ngIf="monitoramentoGee?.length">

                <div class="form-row" *ngIf="isAddEdit">
                  <div class="col-sm-3">
                    <label for="qt_quilometragem_total">Km total</label>
                    <input class="form-control" name="qt_quilometragem_total" placeholder="Km" type="text"
                      [(ngModel)]="amostras.qt_quilometragem_total" (change)="changeQuilometragem()" mask="99999999999999.00">
                  </div>

                  <div class="col-sm-3">
                    <label for="qt_consumo_total">Consumo em {{amostras.cd_unidade_padrao | uppercase}}</label>
                    <input class="form-control" name="qt_consumo_total" placeholder="Consumo total" type="text"
                      [(ngModel)]="amostras.qt_consumo_total" mask="99999999999999.00">
                  </div>
                  <div class="col-sm-3">
                    <label for="">Data</label>
                    <input class="form-control" placeholder="DD/MM/AAAA" [(ngModel)]="amostras.dt_amostra" name="dt_amostra" ngbDatepicker
                      #d="ngbDatepicker" readonly>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                        type="button"></button>
                    </div>
                  </div>
                  <div class="col-sm-1 py-4 px-sm-0 icons">
                    <i class="pe-7s-check btn-icon-wrapper text-success" style="font-size: 33px; margin-right: 0px;"
                      (click)="addItem()"></i>
                  </div>
                  <div class="col-sm-1 py-4 px-sm-0 icons">
                    <i class="pe-7s-close-circle btn-icon-wrapper text-danger hover"
                      style="font-size: 33px; margin-right: 0px;" (click)="closeEdit()"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive" style="min-height: 500px;">
                      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                          <tr [ngClass]="{'table-active': !isAddEdit}">
                            <th class="text-center"></th>
                            <th width="10%">Data</th>
                            <th class="text-center" width="10%">Un.</th>
                            <th class="text-center qtd-input">Consumo</th>
                            <th class="text-center qtd-input">CO2 Fóssel</th>
                            <th class="text-center qtd-input">CO2 Bio</th>
                            <th class="text-right"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!amostrasGee?.length">
                            <td colspan="6" class="text-center">
                              <h6 class="mt-3">Nenhuma amosrtra adicionada</h6>
                              <button *ngIf="!isAddEdit"
                                class="mb-2 mr-2 mt-3 btn-icon btn-pill btn btn-outline-success"
                                style="margin-right: 7px;" (click)="add()"><i
                                  class="pe-7s-check btn-icon-wrapper"></i>Inserir</button>
                            </td>
                          </tr>

                          <!-- DADOS DA TABLE -->
                          <tr *ngFor="let gee of amostrasGee; let i = index">
                            <td class="text-center text-muted">{{i+1}}</td>
                            <td>
                              <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                  <div class="widget-content-left flex2">
                                    <div class="widget-heading">{{gee.dt_amostra | date:'dd/MM/yyyy'}}</div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class="text-center">{{gee.cd_unidade_padrao}}</td>
                            <td class="text-center">{{gee.qt_consumo_total | quantidadePipe}}</td>
                            <td class="text-center">{{gee.qt_total_co2_fossel | quantidadePipe}}</td>
                            <td class="text-center">{{gee.qt_total_co2_bio | quantidadePipe}}</td>
                            <td class="text-right icons">
                              <!-- <i (click)="add()" *ngIf="!isAddEdit && i==0" class="pe-7s-plus text-success touch"></i> -->
                              <i class="pe-7s-tools text-primary" (click)="editarItem(gee)"></i>
                              <i class="pe-7s-trash text-danger" (click)="removerAmostra(gee)"></i>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <div class="divider"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIM emissoes-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar Filter Programação-->
    <div class="app-inner-layout__sidebar card">
      <div class="app-inner-layout__sidebar-header">
        <form [formGroup]="filterForm">
          <ul class="nav flex-column filter-programacao">
            <li class="nav-item-header nav-item pt-3">Inserir Emissões Gee</li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Escopo:</label>
              <ng-select [items]="escopos" bindLabel="nm_escopo" formControlName="escopo" name="escopo"
                placeholder="Buscar Escopo...">
              </ng-select>
            </li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Entidade:</label>
              <ng-select [items]="entidades" (change)="changeEntidade()" bindLabel="nm_entidade"
                formControlName="entidade" name="entidade" placeholder="Buscar Entidade...">
              </ng-select>
            </li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Propriedade:</label>
              <ng-select [items]="propriedades" bindLabel="nm_propriedade" formControlName="propriedade"
                name="propriedade" placeholder="Buscar Propriedade...">
              </ng-select>
            </li>
            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Fonte Emissão:</label>
              <ng-select [items]="fonteEmissoes" (change)="changeFonteEmissao()" bindLabel="nm_fonte_emissao"
                formControlName="fonteEmissao" name="fonteEmissao" placeholder="Buscar Fonte...">
              </ng-select>
            </li>
            <li class="pt-1 pb-1 pl-3 pr-3 nav-item" *ngIf="showCombustivel">
              <label class="mb-0 pl-1">Combustível:</label>
              <ng-select [items]="combustiveis" [virtualScroll]="true" (change)="findMonitoramento()"
                bindLabel="nm_combustivel" formControlName="tipoCombustivel" name="tipoCombustivel"
                placeholder="Buscar Combustível...">
              </ng-select>
            </li>
          </ul>
        </form>
      </div>
      <div class="app-inner-layout__sidebar-footer pt-3 pb-3 pl-3 pr-3">
        <button class="btn-wide btn-pill btn btn-success btn-sm btn-block" (click)="filtrar()"
          [ladda]="loading">Filtrar</button>
      </div>
    </div>
    <!--//Sidebar Filter-->
  </div>
</div>
