<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Cadastro
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Licenças Ambientais
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i class="header-icon lnr-license mr-3 text-muted opacity-6"></i>
      Licenças Ambientais
    </div>
    <!-- <div class="btn-actions-pane-right">
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-warning" (click)="licenciar(selected[0])">Licenciar</a>
      </div>
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-primary" (click)="protocolar(selected[0])">Protocolar</a>
      </div>
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-success" (click)="renova(selected[0])">Renovar</a>
      </div>
    </div> -->
    <div class="btn-actions-pane-right">
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-success" [routerLink]="['/licencaambiental/adicionar']">Inserir Nova Licença</a>
        <button class="btn btn-primary" type="button" (click)="editar(selected[0].id)">Editar</button>
        <button class="btn btn-danger" type="button" (click)="remover()">Remover</button>
        <button class="btn btn-info" type="button" (click)="detalhar()">Detalhar</button>
        <!-- <button class="btn btn-outline-secondary" type="button" (click)="download(selected[0].nr_protocolo)">PDF</button> -->
      </div>
    </div>
  </div>
  <div class="p-3 bg-white">
    <div class="form-group form-inline mb-0">
      <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columnsLicencaAmbiental"
        [lista]="licencaAmbiental" [table]="tableLicencaAmbiental"></ngx-datatable-filter>
    </div>
  </div>

  <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableLicencaAmbiental
    [columns]="columnsLicencaAmbiental"
    [selected]="selected"
    [rows]="rowsLicencaAmbiental"
    [footerHeight]="40"
    [columnMode]="'force'"
    [selectionType]="'single'"
    [rowHeight]="'50'"
    (activate)="activate($event)"
    [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}"
    [limit]="10">
    <ngx-datatable-column name="Entidade" prop="nm_reduzido" [width]="250" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="N° L.A" prop="nr_licenca_ambiental" [width]="110" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="Atividade" prop="nm_atividade" [width]="200" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="Tipo" prop="nm_abreviado" [width]="60" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="Validade" prop="dt_validade" [width]="90" [flexGrow]="1">

      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="rowsLicencaAmbiental">
        {{rowsLicencaAmbiental[rowIndex].dt_validade | date:'dd/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Orgão" prop="sg_orgao" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="Situação" prop="ds_situacao" [width]="100" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="Próxima Ação" prop="ds_acao" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <a class="btn btn-outline-warning btn-xs">{{getProximaAcao(row)}}</a>
      </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="Telefone" prop="ds_email_alerta" [flexGrow]="2"></ngx-datatable-column> -->
    <!-- <ngx-datatable-column name="Vigência" prop="vigencia" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniVigencia | date:'d/MM/yyyy' }} - {{row.dtFimVigencia | date:'d/MM/yyyy' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniProgramacao" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniProgramacao| date:'d/MM/yyyy'}} - {{row.dtFimProgramacao| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniRetirada" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniRetirada| date:'d/MM/yyyy'}} - {{row.dtFimRetirada| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column> -->
  </ngx-datatable>
</section>

<ng-template #detalhes let-c="close" let-d="dismiss">

  <div class="main-card mb-3 card">
    <div class="card-body">
      <h5 class="card-title">Detalhes da Licença</h5>

      <div class="row">
        <div class="col-md-12">
          <div class="card main-card mb-3">
            <div class="card-header">
              <p>{{selected[0].nm_entidade}}
              {{selected[0].nr_cnpj}}
              </p>
            </div>
            <div class="card-body">
              <b>Atividade</b>
              <p>{{selected[0].nm_atividade}}</p>
              <b>Tipo Licença</b>
              <p>{{selected[0].nm_licenca}}</p>
              <b>Orgão Regulador</b>
              <p>{{selected[0].nm_orgao}}</p>

              <div class="row">
                <div class="col-sm-4">
                  <b>N° Licença:</b>
                  <p>{{selected[0].nr_licenca_ambiental}}</p>
                </div>
                <div class="col-sm-4">
                  <b>Emissão: </b>
                  <p>{{selected[0].dt_emissao | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-sm-4">
                  <b>Validade:</b>
                  <p>{{selected[0].dt_validade | date:'dd/MM/yyyy'}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <b>N° Protocolo:</b>
                  <p>{{selected[0].nr_protocolo}}</p>
                </div>
                <div class="col-sm-4">
                  <b>Emissão: </b>
                  <p>{{selected[0].dt_emissao_protocolo | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-sm-4">
                  <b>Validade:</b>
                  <p>{{selected[0].dt_validade_protocolo | date:'dd/MM/yyyy'}}</p>
                </div>
              </div>

              <div class="row  border-bottom">
                <div class="col-sm-4">
                  <b>Dias Limite:</b>
                  <p>{{selected[0].nr_dias_limite_protocolo}}</p>
                </div>
                <div class="col-sm-8">
                  <b>E-mail Alerta:</b>
                  <p>{{selected[0].ds_email_alerta}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <b>Cadastrada em:</b>
                  <p>{{selected[0].created_at | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                </div>
                <div class="col-sm-6">
                  <b>Por:</b>
                  <p>fulano</p>
                </div>
              </div>

              <div class="row border-bottom">
                <div class="col-sm-6">
                  <b>Alterada em:</b>
                  <p>{{selected[0].updated_at | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                </div>
                <div class="col-sm-6">
                  <b>Por:</b>
                  <p>fulano</p>
                </div>
              </div>

              <div class="row" *ngIf="filha.length > 0">
                <div class="col-sm-4">
                  <b>N° Anterior:</b>
                  <p>{{filha[0].nr_licenca_ambiental}}</p>
                </div>
                <div class="col-sm-4">
                  <b>Última Alteração:</b>
                  <p>{{filha[0].updated_at | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                </div>
                <div class="col-sm-4">
                  <b>Última Por:</b>
                  <p>Fulano@teste.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-header">
    <h4 class="modal-title">Detalhes</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>
      <b>ENTIDADE:</b> <br> {{selected[0].nm_entidade}}
    </p>
    <p *ngIf="selected[0].nr_cnpj !== null">
      <b>CNPJ:</b> <br> {{selected[0].nr_cnpj}}
    </p>
    <p *ngIf="selected[0].nr_cpf !== null">
     <b>CPF:</b> <br> {{selected[0].nr_cpf}}
    </p>
    <p>
      <b>ATIVIDADE:</b> <br> {{selected[0].nm_atividade}}
    </p>
    <p>
      <b>TIPO LICENÇA:</b> <br> {{selected[0].nm_licenca}}
    </p>
    <p>
      <b>ORGÃO:</b> <br> {{selected[0].nm_orgao}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div> -->
</ng-template>

<!-- ############################## -->


