<div class="modal-header">
  <h5 class="modal-title pull-left">
    <i class="pe-7s-config p-1"></i>Auditar Requisito
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center"><i class="pe-7s-news-paper p-1"></i>{{auditoria.auditoria_nivel.nm_nivel}}</h5>
      <h6 class="card-subtitle mb-2 text-muted text-center"><i class="pe-7s-pin p-1"></i>{{item.ds_item}}</h6>
      <p class="card-text">{{auditoriaEntidadeItRequisito.auditoria_requisito.ds_requisito}}</p>
      <ngb-accordion [closeOthers]="true" type="ligth">
        <div>
          <ngb-panel title="Orientacoes">
            <ng-template ngbPanelContent>
              Orientações: {{auditoriaEntidadeItRequisito.ds_orientacao}}
            </ng-template>
          </ngb-panel>
        </div>
      </ngb-accordion>
    </div>

      <div class="row">
        <div class="col-4">
          test5e
        </div>
        <div class="col-4">
          teste
        </div>
        <div class="col-4">
          teste
        </div>
      </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <div class="loader" *ngIf="false">
      <div class="ball-scale-ripple">
        <div></div>
      </div>
    </div>
  </div>
  <form>

  </form>
</div>
<div class="modal-footer" style="clear: both;">
  <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">Fechar</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="salvar()">Salvar</button>
</div>
