<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Emissões Gee
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Entidades Monitoradas
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
        class="header-icon fa fa-industry mr-3 text-muted opacity-6"></i>Entidades Monitoradas</div>
    <div class="btn-actions-pane-right">
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-warning  fa fa-eye" (click)="fontes(selected[0].id)"
          data-toggle="tooltip" data-placement="top"  title="Ver Fontes Monitradas da Entidade Selecionada">
           Ver Fontes
        </a>
        <a class="btn btn-success fa fa-plus-circle" [routerLink]="['/gee/adicionar']"
          data-toggle="tooltip" data-placement="top"  title="Insere uma nova Fonte de Emissão">
          Nova Fonte Emissão</a>
        <!-- <button class="btn btn-primary" type="button" (click)="editar(selected[0].id)">Editar</button> -->
        <!-- <button class="btn btn-danger" type="button" (click)="remover()">Remover</button> -->
      </div>
    </div>
  </div>
  <div class="p-3 bg-white">
    <div class="form-group form-inline mb-0">
      <ngx-datatable-filter
        [margin]="'-6px'"
        [float]="'left'"
        [columns]="columnsGee"
        [lista]="gee"
        [table]="tableGee">
      </ngx-datatable-filter>
    </div>
  </div>
  <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableGee
    [rows]="rowsGee"
    [footerHeight]="25"
    [rowHeight]="45"
    [columns]="columnsGee"
    [columnMode]="'force'"
    [selected]="selected"
    [selectionType]="'single'"
    (activate)="activate($event)"
    [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}"
    [limit]="10">
    <ngx-datatable-column name="Entidade" prop="nm_reduzido" [width]="175" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="CNPJ" prop="nr_cnpj" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Total CO2 Fóssel" prop="qt_total_fossel" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Total CO2 Bio" prop="qt_total_bio" [flexGrow]="1"></ngx-datatable-column>
</ngx-datatable>
</section>







<!-- <ngx-datatable-column name="CPF" prop="nr_cpf" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Endereço" prop="ds_endereco" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Email" prop="email" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Telefone" prop="nr_telefone" [flexGrow]="2"></ngx-datatable-column> -->
    <!-- <ngx-datatable-column name="Vigência" prop="vigencia" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniVigencia | date:'d/MM/yyyy' }} - {{row.dtFimVigencia | date:'d/MM/yyyy' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniProgramacao" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniProgramacao| date:'d/MM/yyyy'}} - {{row.dtFimProgramacao| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniRetirada" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniRetirada| date:'d/MM/yyyy'}} - {{row.dtFimRetirada| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column> -->
