<div class="app-inner-layout chat-layout">

  <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
    <div class="app-inner-layout__content card">
      <div class="table-responsive">
        <div class="app-inner-layout__top-pane">
          <div class="pane-left">
            <div class="mobile-app-menu-btn">
              <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}"
                (click)="toggleMobileSidebar = !toggleMobileSidebar">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
            </div>
            <h4 class="mb-0 text-nowrap title">
              <!-- <div class="opacity-7 mt-2">Última atualização: <span class="opacity-8">{{programacao?.dtAtualizacao | date:'d/MM/yyyy H:mm:ss'}}</span></div> -->
            </h4>

          </div>
          <!-- <div class="pane-right">
            <button type="button" (click)="add()" class="btn-shadow btn btn-success" *ngIf="monitoramentoRecurso?.id">
              <fa name="plus-circle"></fa> Novo Laudo
            </button>
            <button type="button" (click)="editarLaudo(selected[0])" class="btn-shadow btn btn-warning"
              *ngIf="laudos?.length">
              <fa name="edit"></fa> Editar Laudo
            </button>
            <button type="button" (click)="removeLaudo(selected[0].id)" class="btn-shadow btn btn-danger"
              *ngIf="laudos?.length">
              <fa name="trash"></fa> Remover Laudo
            </button>
            <button type="button" (click)="addAmostra(selected[0])" class="btn-shadow btn btn-info"
              *ngIf="laudos?.length">
              <fa name="plus-circle"></fa> Inserir Resultados
            </button>
          </div> -->
        </div>
        <div class="app-inner-layout__bottom-pane d-flex" style="padding: 0px;">
          <div class="mb-0 form-group" style="width: 100%;">
            <div class="col-sm-12">

              <div class="loader-wrapper d-flex justify-content-center align-items-center" *ngIf="loading">
                <div class="loader">
                  <div class="ball-scale-ripple">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="form-row bg-info">
                <div class="col-md-12 mb-12 form-group">
                  <label for="tipo_monitoramento_id">Itens</label>
                  <ng-select class="p-1" [items]="listTipoMonitoramento" bindValue="tipo_monitoramento_id"
                    bindLabel="nm_monitoramento" name="tipo_monitoramento_id" placeholder="Buscar Monitoramento...">
                  </ng-select>
                  <button type="button" (click)="add()" class="btn-primary">Inserir Item</button>
                </div>
              </div>
              <div class="text-center mt-3">
                <h6>Não foram encontradaos itens cadastrados</h6>
                <!-- <button (click)="create()" class="mb-2 mr-2 mt-4 btn-icon btn-pill btn btn-outline-success"><i
                    class="pe-7s-plus btn-icon-wrapper"></i>Inserir</button> -->
              </div>

              <!-- adicionar -->
              <div>


                <div class="col-md-12">
                  <div class="table-responsive" style="min-height: 500px;">
                    <div class="p-3 bg-white" *ngIf="!isAddEdit">
                      <div class="form-group form-inline mb-0">
                        <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columnsLaudo"
                          [lista]="laudos" [table]="tableLaudo"></ngx-datatable-filter>
                      </div>
                    </div>

                    <div class="divider"></div>
                  </div>
                </div>
              </div>
              <!-- FIM emissoes -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar Filter Programação-->
    <div class="app-inner-layout__sidebar card">
      <div class="app-inner-layout__sidebar-header">
        <form [formGroup]="filterForm">
          <ul class="nav flex-column filter-programacao">
            <li class="nav-item-header nav-item pt-3">Auditoria</li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Tipo Atividadae:</label>
              <ng-select [items]="itemTipoAtividade" (change)="changeTipoAtividade()" bindLabel="nm_atividade"
                formControlName="tipoAtividade" name="tipoAtividade" placeholder="Buscar Atividade...">
              </ng-select>
            </li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Nivel:</label>
              <ng-select [items]="itemAuditoriaNivel" (change)="changeFilter()" bindLabel="nm_nivel"
                formControlName="nm_nivel" name="nivel" placeholder="Buscar Nível Auditoria...">
              </ng-select>
            </li>
          </ul>
        </form>
      </div>
      <div class="app-inner-layout__sidebar-footer pt-3 pb-3 pl-3 pr-3">
        <button class="btn-wide btn-pill btn btn-success btn-sm btn-block" (click)="findLaudos()"
          [ladda]="loading">Filtrar</button>
        <button class="btn-wide btn-pill btn btn-danger btn-sm btn-block" (click)="cleanFilter()"
          [ladda]="loadingC">Limpar</button>
      </div>
    </div>
    <!--//Sidebar Filter-->
  </div>
</div>
