<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Cadastro
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Usuários
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
        class="header-icon lnr-users mr-3 text-muted opacity-6"></i> Usuários </div>
    <div class="btn-actions-pane-right">
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-success" [routerLink]="['/usuario/adicionar']">Adicionar</a>
        <button class="btn btn-primary" type="button" (click)="editar(selected[0].id)">Editar</button>
      </div>
    </div>
  </div>
  <div class="p-3 bg-white">
    <div class="form-group form-inline mb-0">
      <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columns" [lista]="rows"
        [table]="tableUsuarios"></ngx-datatable-filter>
    </div>
  </div>
  <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableUsuarios
    [rows]="rows"
    [footerHeight]="25"
    [columnMode]="'force'"
    [columns]="columns"
    [selected]="selected"
    [selectionType]="'single'"
    [rowHeight]="'auto'"
    (dblclick)="onDblclick($event)"
    [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}" [limit]="5">
    <ngx-datatable-column name="Nome" prop="name" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="E-mail" prop="email" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Administrador" prop="role" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value == "Admin" ? "Sim" : "Não"}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Data Criação" prop="created_at" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value | date:'dd/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Situação" prop="situacao" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value == "A" ? "Ativo" : "Inativo"}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</section>
