<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Licença Ambiental
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Protocolar Licença
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<div class="tabs-animated tabs-animated-shadow card">
  <div class="card-body">
    
    <form [formGroup]="this.formGroup" class="needs-validation">
      <h5 class="card-title">Protocolação de Licença Ambiental</h5>
      
      <div class="form-row">
        <div class="col-md-2 col-xl-2">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">{{nmReduzido}}</div>
                  <div class="widget-subheading">{{nrCnpj}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          <div class="col-md-3 col-xl-3">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">{{nmTipoAtividade}}</div>
                    <div class="widget-subheading">{{nmTipoLicenca}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 col-xl-4">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">N° Licença: {{nrLicencaAmbiental}}</div>
                    <div class="widget-subheading">{{sgOrgao}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xl-3">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Situação: {{dsSituacaoLicenca}}</div>
                    <div class="widget-subheading"><b>Emissão:</b> {{dtEmissaoProtocolo}} - <b>Validade:</b> {{dtValidade}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- INPUTS -->
      <div class="form-row">

        <div class="col-md-4 mb-4 form-group">
          <label for="nr_protocolo_novo">N° Protocolo</label>
          <input formControlName="nr_protocolo_novo" type="text" class="form-control" id="nr_protocolo_novo"
            placeholder="N° Protocolo" required>
        </div>

        <div class="col-md-4 mb-4 form-group">
          <label for="dt_emissao">Data Emissão Protocolo</label>
          <input class="form-control" (click)="dt_emissao.toggle()" placeholder="dia/mês/ano" name="dt_emissao"
            formControlName="dt_emissao" ngbDatepicker #dt_emissao="ngbDatepicker" autocomplete="off" required>
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="dt_emissao.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
        </div>
        
      </div>
      <div class="form-group">
        <bfv-messages></bfv-messages>
      </div>
      <div class="text-right">
        <button class="btn btn-danger" (click)="handleReset()" type="button">Cancelar</button>
        <button class="btn btn-success ml-2" (click)="salvar()" type="submit" [ladda]="isLoading">Salvar</button>
      </div>
    </form>
  </div>
</div>