<div class="app-inner-layout chat-layout">
  <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' :
    toggleMobileSidebar}">
    <div class="app-inner-layout__content card">
      <div class="table-responsive">
        <div class="app-inner-layout__top-pane">
          <div class="pane-left">
            <div class="mobile-app-menu-btn">
              <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}"
                (click)="toggleMobileSidebar= !toggleMobileSidebar">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
            </div>
          </div>
        </div>
        <div class="p-3 bg-white">
          <div class="form-group form-inline mb-0">
            <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columnsTalhao" [lista]="rowsTalhao"
              [table]="tableTalhao"></ngx-datatable-filter>
              <div class="btn-actions-pane-right">
                <div class="btn-group-sm btn-group" role="group">
                  <button class="btn btn-success" type="button" (click)="addTalhao()">Adicionar</button>
                  <button class="btn btn-primary" type="button" (click)="editar(selected[0])">Editar</button>
                  <button class="btn btn-dark" type="button" (click)="remover()">Remover</button>
                </div>
              </div>
            </div>
        </div>
        <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableTalhao
          [rows]="rowsTalhao"
          [footerHeight]="25"
          [columnMode]="'force'"
          [columns]="columnsTalhao"
          [selected]="selected"
          [selectionType]="'single'"
          [rowHeight]="'auto'"
          (activate)="activate($event)"
          [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}"
          [limit]="10">
          <ngx-datatable-column name="Nome Talhão" prop="nm_talhao" [flexGrow]="2"></ngx-datatable-column>
          <ngx-datatable-column name="Área Agricultável" prop="qt_area_agricultavel" [flexGrow]="2"></ngx-datatable-column>
          <ngx-datatable-column name="Ativo" prop="ie_situacao" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              {{value == "A" ? "Ativo" : "Inativo"}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>


    <!--Sidebar Filter Programação-->
    <div class="app-inner-layout__sidebar card">
      <div class="app-inner-layout__sidebar-header">
        <form [formGroup]="filterForm">
          <ul class="nav flex-column filter-programacao">
            <li class="nav-item-header nav-item pt-3">Entidade - Propriedade - Talhão</li>
            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Entidade:</label>
              <ng-select [items]="entidades" (change)="changeEntidade()" bindLabel="nm_entidade"
                formControlName="entidade" name="entidade" placeholder="Buscar
                Entidade...">
              </ng-select>
            </li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Propriedade:</label>
              <ng-select [items]="propriedades" (change)="changePropriedade()" bindLabel="nm_propriedade"
                formControlName="propriedade" name="propriedade" placeholder="Buscar Propriedade...">
              </ng-select>
            </li>
          </ul>
        </form>
      </div>
      <div class="app-inner-layout__sidebar-footer pt-3 pb-3 pl-3 pr-3">
        <button class="btn-wide btn-pill btn btn-success btn-sm btn-block" (click)="findTalhoes()"
          [ladda]="loading">Filtrar</button>
        <button class="btn-wide btn-pill btn btn-danger btn-sm btn-block" (click)="cleanFilter()"
          [ladda]="loadingC">Limpar</button>
      </div>
    </div>
    <!--//Sidebar Filter-->
  </div>
</div>
