<div class="app-inner-layout chat-layout">
  <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
    <div class="app-inner-layout__content card">
      <div class="table-responsive">
        <div class="app-inner-layout__top-pane">
          <div class="pane-left">
            <div class="mobile-app-menu-btn">
              <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}"
                (click)="toggleMobileSidebar = !toggleMobileSidebar">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
            </div>


          </div>
          <div class="pane-right">
            <button type="button" (click)="inserirRequisito()" class="btn-shadow btn btn-success">
              Inserir Requisito
            </button>
          </div>
        </div>
        <div class="app-inner-layout__bottom-pane d-flex" style="padding: 0px;">
          <div class="mb-0 form-group" style="width: 100%;">
            <div class="col-sm-12">
              <ngb-accordion [closeOthers]="true" type="ligth">
                <div *ngFor="let itens of auditoriaEntidadeItRequisito.auditoria_entidade_items; let i= index">
                  <ngb-panel title="{{i+1}} - {{itens.ds_item}}">
                    <ng-template ngbPanelContent>
                      <ul class="list-group">
                        <li *ngFor="let requisitos of itens.auditoria_entidade_it_requisitos; let j= index;"
                          (click)="onClick(j)" class="list-group-item" [class.active]="active === j"
                          [value]="requisitos.$id">
                          <div class="form-row">
                            <div class="col-sm-10">
                              <a class="btn btn-pill text-left"
                                (click)="editarRequisito(requisitos, itens, auditoriaEntidadeItRequisito)">
                                {{i+1}}.{{j+1}} - {{requisitos.auditoria_requisito.ds_requisito}}
                              </a>
                            </div>
                            <div class="col-sm-2">
                              <div *ngIf="requisitos?.ie_conforme">
                                <span *ngIf="requisitos.ie_conforme == 'S'"
                                  class="badge badge-success float-right pull-right">Conforme</span>
                                <span *ngIf="requisitos.ie_conforme == 'N'"
                                  class="badge badge-danger float-right pull-right">Não Conforme</span>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </ng-template>
                  </ngb-panel>
                </div>
              </ngb-accordion>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar Filter Programação-->
    <!-- <div class="app-inner-layout__sidebar card">
      <div class="app-inner-layout__sidebar-header">

      </div>
      <div class="app-inner-layout__sidebar-footer pt-3 pb-3 pl-3 pr-3">
        <button class="btn-wide btn-pill btn btn-success btn-sm btn-block" (click)="filtrar()"
          [ladda]="isLoading">Filtrar</button>
        <button class="btn-wide btn-pill btn btn-danger btn-sm btn-block" (click)="cleanFilter()"
          [ladda]="isLoading">Limpar</button>
      </div>
    </div> -->
    <!--//Sidebar Filter-->
  </div>
</div>
