<div class="app-inner-layout chat-layout">
  <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
    <div class="app-inner-layout__content card">
      <div class="table-responsive">
        <div class="app-inner-layout__top-pane">
          <div class="pane-left">
            <div class="mobile-app-menu-btn">
              <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}"
                (click)="toggleMobileSidebar = !toggleMobileSidebar">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
            </div>
          </div>

          <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                class="header-icon lnr-eye mr-3 text-muted opacity-6"></i> Auditar Requisitos </div>
          </div>

          <div class="pane-right">
            <div *ngIf="auditoriaEntidadeItRequisito?.auditoria_nivel" class="ml-2"
            data-toggle="tooltip" data-placement="bottom" title="Nome da Auditoria">
              <i class="fa fa-flag p-1"></i>{{auditoriaEntidadeItRequisito.auditoria_nivel.nm_nivel}}
            </div>
            <div *ngIf="auditoriaEntidadeItRequisito?.entidade" class="ml-2" data-placement="bottom" title="Entidade Auditada">
              <i class="fa fa-user-circle p-1"></i>{{auditoriaEntidadeItRequisito.entidade.nm_reduzido}}</div>
            <div *ngIf="auditoriaEntidadeItRequisito?.propriedade" class="ml-3" data-placement="bottom" title="Nome da Propriedade">
              <i class="fa fa-map-marker p-1"></i>{{auditoriaEntidadeItRequisito.propriedade.nm_propriedade}}</div>
          </div>
        </div>
        <div class="app-inner-layout__bottom-pane d-flex" style="padding: 0px;">
          <div class="mb-0 form-group" style="width: 100%;">
            <div class="col-sm-12">
              <ngb-accordion [closeOthers]="true" type="ligth" activeIds="{{lastItem}}">
                <div *ngFor="let itens of auditoriaEntidadeItRequisito.auditoria_entidade_items; let i= index">
                  <ngb-panel id="{{itens.id}}">
                    <ng-template ngbPanelHeader>
                      <div class="d-flex align-items-center justify-content-between">
                        <button (click)="setLastItem(itens.id)" ngbPanelToggle class="btn btn-link p-0">{{i+1}} -
                          {{itens.ds_item}}</button>
                      </div>
                      <div class="badge badge-info ml-3">50%</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <ul class="list-group">
                        <li *ngFor="let requisitos of itens.auditoria_entidade_it_requisitos; let j= index;"
                          (click)="onClick(j)" class="list-group-item" [class.active]="active === j"
                          [value]="requisitos.$id">
                          <div class="form-row">

                            <div class="col-sm-6">
                              <a class="btn btn-pill text-left"
                                (click)="editarRequisito(requisitos, itens, auditoriaEntidadeItRequisito)">
                                {{i+1}}.{{j+1}} - {{requisitos.auditoria_requisito.ds_requisito}}
                              </a>
                            </div>

                            <div class="col-xs-1 text-center">
                              <h4>
                                <span *ngIf="requisitos.ie_conforme == 'S'" data-toggle="tooltip" data-placement="top"
                                  title="Conforme" class="badge badge-success"><i class="fa fa-thumbs-o-up"></i></span>
                                <span *ngIf="requisitos.ie_conforme == 'N'" data-toggle="tooltip" data-placement="top"
                                  title="Não Conforme." class="badge badge-danger"><i class="fa fa-thumbs-o-down"></i></span>
                                <span *ngIf="requisitos.ie_conforme == 'A'" data-toggle="tooltip" data-placement="top"
                                  title="Não se Aplica." class="badge badge-warning"><i class="fa fa-ban"></i></span>
                                <span *ngIf="!requisitos?.ie_conforme" data-toggle="tooltip" data-placement="top"
                                  title="Não Avaliado." class="badge badge-fill"><i
                                    class="fa fa-eye-slash"></i></span>
                              </h4>
                            </div>
                            <div class="col-xs-2 text-center" *ngIf="requisitos?.dt_prazo_adequacao && requisitos.ie_conforme == 'N'">
                              <h5><span class="badge badge-danger" data-toggle="tooltip" data-placement="top"
                                title="Prazo para Adequação de Não Conformidade">
                                <fa name="calendar-check-o"></fa>{{requisitos.dt_prazo_adequacao | date:'dd/MM/yyyy'}}</span>
                              </h5>
                            </div>
                            <div class="col-xs-1 text-center btn p-0" *ngIf="requisitos?.ds_observacao"  data-toggle="tooltip" data-placement="top"
                              title="Clique para vizualizar as observações.">
                              <h4><span class="badge badge-dark" placement="left" ngbPopover="{{requisitos.ds_observacao}}">
                                <i class="fa fa-warning"></i>
                              </span></h4>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </ng-template>
                  </ngb-panel>
                </div>
              </ngb-accordion>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar Filter Programação-->
    <!-- <div class="app-inner-layout__sidebar card">
      <div class="app-inner-layout__sidebar-header">

      </div>
      <div class="app-inner-layout__sidebar-footer pt-3 pb-3 pl-3 pr-3">
        <button class="btn-wide btn-pill btn btn-success btn-sm btn-block" (click)="filtrar()"
          [ladda]="isLoading">Filtrar</button>
        <button class="btn-wide btn-pill btn btn-danger btn-sm btn-block" (click)="cleanFilter()"
          [ladda]="isLoading">Limpar</button>
      </div>
    </div> -->
    <!--//Sidebar Filter-->
  </div>
</div>
