<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-6">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100">
        <div class="modal-content">
          <div class="modal-header">
            <div class="h5 modal-title">
              Recuperação de Senha
              <h6 class="mt-1 mb-0 opacity-8"><span>Insira as informações.</span></h6>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <form [formGroup]="this.formGroup" class="needs-validation">
                <div class="row">
                  <div class="col-md-12">
                    <fieldset class="form-group" id="__BVID__132">
                      <div tabindex="-1" role="group">
                        <label for="exampleEmail">Email</label>
                        <input id="exampleEmail"
                          name="email" type="email" formControlName="email"  class="form-control" required>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <fieldset class="form-group" id="__BVID__132">
                      <div tabindex="-1" role="group">
                        <label for="password">Senha</label>
                        <input id="password"
                          name="password" type="password" formControlName="password"  class="form-control" required>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <fieldset class="form-group" id="__BVID__132">
                      <div tabindex="-1" role="group">
                        <label for="password_confirmation">Confirme sua senha</label>
                        <input id="password_confirmation"
                          name="password_confirmation" type="password_confirmation" formControlName="password_confirmation"  class="form-control" required>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
            <div class="divider"></div>
            <!-- <h6 class="mb-0"><a [routerLink]="" class="text-primary">Sign in existing account</a></h6></div> -->
            <div class="modal-footer clearfix">
              <div class="float-right">
                <button type="button" (click)="ResetPassword()" class="btn btn-primary btn-lg">Alterar Senha</button>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center text-white opacity-8 mt-3">
          Copyright © ArchitectUI 2019
        </div>
      </div>
    </div>
  </div>
