<div class="app-inner-layout chat-layout">
  <!-- <div class="app-inner-layout__header">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="icon {{icon}} text-info"></i>
          </div>
          <div>
            {{heading}}
            <div class="page-title-subheading">
              {{subheading}}
            </div>
          </div>
        </div>
        <div class="page-title-actions">
          Status:
          <button type="button" class="ml-2 btn badge-info">

          </button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
    <div class="app-inner-layout__content card">
      <div class="table-responsive">
        <div class="app-inner-layout__top-pane">
          <div class="pane-left">
            <div class="mobile-app-menu-btn">
              <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}"
                (click)="toggleMobileSidebar = !toggleMobileSidebar">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
            </div>
            <h4 class="mb-0 text-nowrap title">Laudos Ambientais
              <!-- <div class="opacity-7 mt-2">Última atualização: <span class="opacity-8">{{programacao?.dtAtualizacao | date:'d/MM/yyyy H:mm:ss'}}</span></div> -->
            </h4>

          </div>
          <div class="pane-right">
            <button type="button" (click)="add()" class="btn-shadow btn btn-success" *ngIf="monitoramentoRecurso?.id">
              <fa name="plus-circle"></fa> Novo Laudo
            </button>
            <button type="button" (click)="editarLaudo(selected[0])" class="btn-shadow btn btn-warning" *ngIf="laudos?.length">
              <fa name="edit"></fa> Editar Laudo
            </button>
            <button type="button" (click)="removeLaudo(selected[0].id)" class="btn-shadow btn btn-danger" *ngIf="laudos?.length">
              <fa name="trash"></fa> Remover Laudo
            </button>
            <button type="button" (click)="addAmostra(selected[0])" class="btn-shadow btn btn-info"
              *ngIf="laudos?.length">
              <fa name="plus-circle"></fa> Inserir Resultados
            </button>
          </div>
        </div>
        <div class="app-inner-layout__bottom-pane d-flex" style="padding: 0px;">
          <div class="mb-0 form-group" style="width: 100%;">
            <div class="col-sm-12">

              <div class="loader-wrapper d-flex justify-content-center align-items-center" *ngIf="loading">
                <div class="loader">
                  <div class="ball-scale-ripple">
                    <div></div>
                  </div>
                </div>
              </div>

              <div *ngIf="!loading && !monitoramentoRecurso?.id && filterForm.valid" class="text-center mt-3">
                <h6>Não foram encontradas valores cadastrados, para iniciar pressione o botão abaixo;</h6>
                <button (click)="create()" class="mb-2 mr-2 mt-4 btn-icon btn-pill btn btn-outline-success"><i
                    class="pe-7s-plus btn-icon-wrapper"></i>Inserir Laudo</button>
              </div>

              <!--adicionar-->
              <div *ngIf="!loading && monitoramentoRecurso?.id">

                <div class="form-row" *ngIf="isAddEdit">
                  <div class="col-md-12 mb-12 form-group">
                    <label for="tipo_monitoramento_id">Tipo Monitoramento</label>
                    <ng-select [items]="listTipoMonitoramento" bindValue="tipo_monitoramento_id" bindLabel="nm_monitoramento"
                    [(ngModel)]="laudo.tipo_monitoramento_id" name="tipo_monitoramento_id" placeholder="Buscar Monitoramento...">
                  </ng-select>
                </div>
              </div>

                <div class="form-row" *ngIf="isAddEdit">
                  <div class="form-group col-sm-6">
                    <label for="dt_laudo">Data</label>
                    <input class="form-control form-control-sm" placeholder="DD/MM/AAAA" [(ngModel)]="laudo.dt_laudo"
                      name="dt_laudo" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary fa fa-calendar btn-sm" (click)="d.toggle()"
                        type="button"></button>
                    </div>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="nm_monitoramento">Monitoramento</label>
                    <input class="form-control form-control-sm" name="nm_monitoramento" placeholder="Descrição"
                      type="text" [(ngModel)]="laudo.nm_monitoramento">
                  </div>
                </div>

                <div class="form-row" *ngIf="isAddEdit">
                  <div class="form-group col-sm-6">
                    <label for="nm_empresa_responsavel">Empresa</label>
                    <input class="form-control form-control-sm" name="nm_empresa_responsavel" placeholder="Empresa"
                      type="text" [(ngModel)]="laudo.nm_empresa_responsavel">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="nr_laudo">Nº Laudo</label>
                    <input class="form-control form-control-sm" name="nr_laudo" placeholder="N° do Laudo" type="text"
                      [(ngModel)]="laudo.nr_laudo">
                  </div>
                  <div class="form-row icons">
                    <i class="pe-7s-check btn-icon-wrapper text-success" style="font-size: 33px; margin-right: 0px;"
                      (click)="addLaudo()"></i>
                    <i class="pe-7s-close-circle btn-icon-wrapper text-danger hover"
                      style="font-size: 33px; margin-right: 0px;" (click)="closeEdit()"></i>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="table-responsive" style="min-height: 500px;">
                    <div class="p-3 bg-white" *ngIf="!isAddEdit">
                      <div class="form-group form-inline mb-0">
                        <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columnsLaudo"
                          [lista]="laudos" [table]="tableLaudo"></ngx-datatable-filter>
                      </div>
                    </div>
                    <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableLaudo [rows]="rowsLaudo"
                      [footerHeight]="25" [columnMode]="'force'" [columns]="columnsLaudo" [selected]="selected"
                      [selectionType]="'single'" [rowHeight]="'auto'" (activate)="activate($event)"
                      [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}"
                      [limit]="15">
                      <ngx-datatable-column name="Data" prop="dt_laudo" [width]="50" [flexGrow]="2">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{row.dt_laudo | date:'dd/MM/yyyy' }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Nº Laudo" prop="nr_laudo" [width]="50" [flexGrow]="2">
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Empresa" prop="nm_empresa_responsavel" [flexGrow]="2">
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Tipo Monitoramento" prop="nm_monitoramento" [flexGrow]="2">
                      </ngx-datatable-column>
                    </ngx-datatable>
                    <div class="divider"></div>
                  </div>
                </div>
              </div>
              <!-- FIM emissoes-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar Filter Programação-->
    <div class="app-inner-layout__sidebar card">
      <div class="app-inner-layout__sidebar-header">
        <form [formGroup]="filterForm">
          <ul class="nav flex-column filter-programacao">
            <li class="nav-item-header nav-item pt-3">Monitorameto de Recursos Ambientais</li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Entidade:</label>
              <ng-select [items]="entidades" (change)="changeEntidade()" bindLabel="nm_entidade"
                formControlName="entidade" name="entidade" placeholder="Buscar Entidade...">
              </ng-select>
            </li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Propriedade:</label>
              <ng-select [items]="propriedades" (change)="changeFilter()" bindLabel="nm_propriedade" formControlName="propriedade"
                name="propriedade" placeholder="Buscar Propriedade...">
              </ng-select>
            </li>
            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Recurso:</label>
              <ng-select [items]="recursos" (change)="changeFilter()" bindLabel="nm_recurso" formControlName="recurso" name="recurso"
                placeholder="Buscar Recurso...">
              </ng-select>
            </li>
            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Processo:</label>
              <ng-select [items]="processos" [virtualScroll]="true" (change)="changeFilter()" bindLabel="nm_processo" formControlName="processo"
                name="nm_processo" placeholder="Buscar Processo...">
              </ng-select>
            </li>
            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Fonte Emissora:</label>
              <ng-select [items]="fonteEmissoras" [virtualScroll]="true" (change)="findLaudos()"
                bindLabel="nm_fonte_emissora" formControlName="fonteEmissora" name="fonteEmissora"
                placeholder="Buscar Fonte...">
              </ng-select>
            </li>
          </ul>
        </form>
      </div>
      <div class="app-inner-layout__sidebar-footer pt-3 pb-3 pl-3 pr-3">
        <button class="btn-wide btn-pill btn btn-success btn-sm btn-block" (click)="findLaudos()"
          [ladda]="loading">Filtrar</button>
        <button class="btn-wide btn-pill btn btn-danger btn-sm btn-block" (click)="cleanFilter()"
          [ladda]="loadingC">Limpar</button>
      </div>
    </div>
    <!--//Sidebar Filter-->
  </div>
</div>

