<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="" (click)="goEntidadesMonitoradas()">
                  Entidades Monitoradas
                </a>
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Fontes Monitoradas
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i *ngIf="nmReduzido" class="header-icon fa fa-user-circle-o mr-2 text-muted opacity-6"></i>{{nmReduzido}}
      <i *ngIf="nmPropriedade" class="header-icon fa fa-map-marker mr-2 ml-3 text-muted opacity-6"></i>{{nmPropriedade}}
    </div>
    <div class="btn-actions-pane-right">
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-primary" (click)="inserirEmissao(selected[0])">
          <fa class="mr-1" name="plus-circle"></fa>Inserir Emissão
        </a>
        <a class="btn btn-info" (click)="editar(selected[0].monitoramento_gee_id)" data-toggle="tooltip"
          data-placement="top" title="Edita um Monitoramento">
          <fa class="mr-1" name="edit"></fa>Editar
        </a>
        <a class="btn btn-danger" (click)="removerFonte(selected[0])">
          <fa class="mr-1" name="trash"></fa>Remover Fonte
        </a>
      </div>
    </div>
  </div>
  <div class="p-3 bg-white">
    <div class="form-group form-inline mb-0">
      <ngx-datatable-filter [float]="'left'" [columns]="columnsFonteEntidade" [lista]="fonteEntidade"
        [table]="tableFonteEntidade">
      </ngx-datatable-filter>
    </div>
  </div>
  <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableFonteEntidade [rows]="rowsFonteEntidade"
    [footerHeight]="25" [rowHeight]="45" [columns]="columnsFonteEntidade" [columnMode]="'force'" [selected]="selected"
    [selectionType]="'single'" (activate)="activate($event)"
    [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}" [limit]="10">

    <ngx-datatable-column name="Classificação" prop="nm_classificacao" [width]="175" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value == "M" ? "Móvel" : "Estacionária"}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Fonte" prop="nm_fonte_emissao" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="Combustível" prop="nm_combustivel" [flexGrow]="1"></ngx-datatable-column>

    <ngx-datatable-column name="Total CO2 Fóssel" prop="qt_total_co2_fossel" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value | quantidadePipe}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Total CO2 Bio" prop="qt_total_co2_bio" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value | quantidadePipe}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</section>
