<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Nível
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Cadastrar Nível
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<div class="tabs-animated tabs-animated-shadow card">
  <div class="card-body">

      <h5 class="card-title">Cadastro de Nível</h5>
      <div class="col-md-12 mb-12 form-group">
        <label for="tipo_atividade_id">Atividade</label>
        <ng-select [items]="listAtividade" bindValue="id" bindLabel="nm_atividade"
          [(ngModel)]="tipoAtividade.id"
          (change)="changeTipoAtividade()" name="list_tipo_atividade_id" placeholder="Buscar Atividade...">
        </ng-select>
      </div>
      <form [formGroup]="this.formGroup" class="needs-validation">
      <input formControlName="tipo_atividade_id" type="text" class="form-control" id="tipo_atividade_id" required hidden>
      <div class="form-row">
        <div class="col-md-12 mb-12 form-group">
          <label for="nm_nivel">Auditoria</label>
          <input formControlName="nm_nivel" type="text" class="form-control" id="nm_nivel"
            placeholder="Nome do Nível" value="" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 mb-12 form-group">
          <label for="ds_nivel">Descrição</label>
          <input formControlName="ds_nivel" type="text" class="form-control" id="ds_nivel"
            placeholder="Descrição" value="" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-6 form-group">
          <h5 class="card-title">Situação</h5>
          <div class="custom-radio custom-control">
            <input formControlName="ie_situacao" type="radio" id="situacaoAtivo" name="ie_situacao"
              class="custom-control-input" value="A">
            <label for="situacaoAtivo" class="custom-control-label">Ativo</label>
          </div>
          <div class="custom-radio custom-control">
            <input formControlName="ie_situacao" type="radio" id="situacaoInativo" name="ie_situacao"
              class="custom-control-input" value="I">
            <label for="situacaoInativo" class="custom-control-label">Inativo</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <bfv-messages></bfv-messages>
      </div>
      <div class="text-right">
        <button class="btn btn-danger" (click)="handleReset()" type="button">Cancelar</button>
        <button class="btn btn-success ml-2" (click)="salvar()" type="submit" [ladda]="isLoading">Salvar</button>
      </div>
    </form>
  </div>
</div>

