<div class="app-page-title app-page-title-simple" style="padding-bottom: 5px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Auditoria
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Auditoria Requisito
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-inner-layout chat-layout">
  <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
    <div class="app-inner-layout__content card">
      <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
            class="header-icon lnr-license mr-3 text-muted opacity-6"></i> Entidade Auditada </div>
        <div class="btn-actions-pane-right">
          <div class="btn-group-sm btn-group" role="group">
            <a class="btn btn-success" [routerLink]="['/auditoriaentidade/adicionar']">Adicionar</a>
            <button class="btn btn-primary" type="button" (click)="editar(selected[0].id)">Editar</button>
            <button class="btn btn-dark" type="button" (click)="remover()">Remover</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <div class="app-inner-layout__top-pane">
          <div class="pane-left">
            <div class="mobile-app-menu-btn">
              <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}"
                (click)="toggleMobileSidebar = !toggleMobileSidebar">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
            </div>
          </div>
        </div>
        <div class="app-inner-layout__bottom-pane d-flex" style="padding: 0px;">
          <div class="mb-0 form-group" style="width: 100%;">
            <div class="col-sm-12">
              <div class="table-responsive" style="min-height: 500px;">
                <div class="p-2 bg-white">
                  <div class="form-group form-inline mb-0">
                    <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columnsAuditoriaEntidade"
                      [lista]="rowsAuditoriaEntidade" [table]="tableAuditoriaEntidade"></ngx-datatable-filter>
                  </div>
                </div>
                <div class="loader-wrapper d-flex justify-content-center align-items-center" *ngIf="loading">
                  <div class="loader">
                    <div class="ball-scale-ripple">
                      <div></div>
                    </div>
                  </div>
                </div>

                <ngx-datatable *ngIf="!loading" ngx-resize-watcher class="bootstrap striped" #tableAuditoriaEntidade
                  (activate)="activate($event)" [rows]="rowsAuditoriaEntidade" [footerHeight]="25"
                  [columnMode]="'force'" [columns]="columnsAuditoriaEntidade" [selected]="selected"
                  [selectionType]="'single'" [rowHeight]="'auto'"
                  [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}" [limit]="15">
                  <ngx-datatable-column name="Número" prop="nr_auditoria" [width]="50" [flexGrow]="2">
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Auditoria" prop="nm_nivel" [width]="50" [flexGrow]="2">
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Data Prevista" prop="dt_auditoria" [width]="50" [flexGrow]="2">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      {{row.dt_auditoria | date:'dd/MM/yyyy' }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Validade" prop="dt_validade" [flexGrow]="2">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      {{row.dt_validade | date:'dd/MM/yyyy' }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
                <div class="divider"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar Filter Programação-->
    <div class="app-inner-layout__sidebar card">
      <div class="app-inner-layout__sidebar-header">
        <form [formGroup]="filterForm">
          <ul class="nav flex-column filter-programacao">
            <li class="nav-item-header nav-item pt-3">Filtrar - Somente Entidades que possuem auditoria</li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Entidade:</label>
              <ng-select [items]="listEntidade" (change)="changeEntidade()" bindLabel="nm_reduzido"
                formControlName="entidade" name="entidade" placeholder="Buscar Entidade...">
              </ng-select>
            </li>

            <li class="pt-1 pb-1 pl-3 pr-3 nav-item">
              <label class="mb-0 pl-1">Propriedade:</label>
              <ng-select [items]="listPropriedade" (change)="changePropriedade()" bindLabel="nm_propriedade"
                formControlName="propriedade" name="propriedade" placeholder="Buscar Propriedade...">
              </ng-select>
            </li>

          </ul>
        </form>
      </div>
      <div class="app-inner-layout__sidebar-footer pt-3 pb-3 pl-3 pr-3">
        <button class="btn-wide btn-pill btn btn-success btn-sm btn-block" (click)="changePropriedade()"
          [ladda]="isLoading">Filtrar</button>
        <button class="btn-wide btn-pill btn btn-danger btn-sm btn-block" (click)="cleanFilter()"
          [ladda]="isLoading">Limpar</button>
      </div>
    </div>
    <!--//Sidebar Filter-->
  </div>
</div>
