<div class="modal-header">
  <h5 class="modal-title pull-left">
    <i class="pe-7s-config p-1"></i>Editar Atributos
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="col-sm-12 p-0 text-center">
    <h5 class="card-title mb-0">
      <i class="pe-7s-news-paper p-1"></i>{{filterForm?.auditoriaNivel.nm_nivel}}
    </h5>
  </div>
  <div class="col-sm-12">
    <div class="card mb-0 p-1 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading"><i
                class="pe-7s-pin p-1"></i>{{filterForm?.auditoriaNivelItem.auditoria_item.ds_item}}</div>
            <div class="widget-subheading"><i class="fa fa-check p-1"></i>{{auditoriaNivelItRequisito.ds_requisito}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <div class="loader" *ngIf="false">
      <div class="ball-scale-ripple">
        <div></div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row">
      <div class="col-sm-12">
        <label class="mb-1">Orientações</label>
        <textarea class="form-control" name="ds_orientacao" rows="2" type="text"
          [(ngModel)]="auditoriaNivelItRequisito.ds_orientacao" required></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        <label for="classificacao_requisito_id">Classificação</label>
        <ng-select [items]="listClassificacaoRequisito" bindValue="id"
          [(ngModel)]="auditoriaNivelItRequisito.classificacao_requisito_id" bindLabel="nm_classificacao"
          name="classificacao_requisito_id" placeholder="Buscar Classificacao...">
        </ng-select>
      </div>
      <div class="col-sm-3">
        <label for="nr_peso">Peso</label>
        <input class="form-control" name="nr_peso" type="number" [(ngModel)]="auditoriaNivelItRequisito.nr_peso"
          required>
      </div>
      <div class="col-sm-3">
        <label for="ie_evidencia">Requer Evidência?</label>
        <div class="custom-radio custom-control">
          <input class="form-control" type="radio" id="ie_evidenciaAtivo" name="ie_evidencia"
            [(ngModel)]="auditoriaNivelItRequisito.ie_evidencia" class="custom-control-input" value="S">
          <label for="ie_evidenciaAtivo" class="custom-control-label">Sim</label>
        </div>
        <div class="custom-radio custom-control">
          <input class="form-control" type="radio" id="ie_evidenciaInativo" name="ie_evidencia"
            [(ngModel)]="auditoriaNivelItRequisito.ie_evidencia" class="custom-control-input" value="N">
          <label for="ie_evidenciaInativo" class="custom-control-label">Não</label>
        </div>
      </div>
    </div>
    <div class="form-row">

    </div>
    <div class="form-row">

    </div>
  </form>
</div>
<div class="modal-footer" style="clear: both;">
  <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">Fechar</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="salvar()">Salvar</button>
</div>
