<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-type">
      <img src="/assets/images/sidebar/terra.png" width="48" height="48" alt="terra">
      Ambiental</div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar style="height: 700px;">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-item">
              <a routerLink="/" class="vsm-link">
                <i class="vsm-icon-menu fa fa-dashboard"></i>
                <span class="vsm-title">Painel</span>
              </a>
            </div>

            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel id="licenciamentoMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon-menu fa fa-leaf"></i>
                    <span class="vsm-title">Licenciamento</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <!-- --MENU -->
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/licenca" class="vsm-link"><span
                            class="vsm-title">Licenças Ambientais</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/licencaentidade" class="vsm-link"><span
                            class="vsm-title">Licenças Entidades</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/entidade" class="vsm-link"><span
                            class="vsm-title">Entidades</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tipolicenca" class="vsm-link"><span
                            class="vsm-title">Tipo Licença</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tipoatividade" class="vsm-link"><span
                            class="vsm-title">Atividades</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/orgao" class="vsm-link"><span
                            class="vsm-title">Orgãos</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>


              <ngb-panel id="geeMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon-menu fa fa-industry"></i>
                    <span class="vsm-title">Emissões GEE</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/gee" class="vsm-link"><span class="vsm-title">
                            Entidades Monitoradas</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/escopo" class="vsm-link"><span class="vsm-title">
                            Escopo</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/fonte-emissao" class="vsm-link"><span class="vsm-title">
                            Fonte Emissão</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/combustivel" class="vsm-link"><span class="vsm-title">
                            Combustível</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="mRecursoMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon-menu fa fa-globe"></i>
                    <span class="vsm-title">Recursos Monitorados</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/recurso" class="vsm-link"><span class="vsm-title">
                            Recursos</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/fonteemissora" class="vsm-link"><span class="vsm-title">
                            Fonte Emissora</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/parametro" class="vsm-link"><span class="vsm-title">
                            Parâmetros</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/processo" class="vsm-link"><span class="vsm-title">
                            Processo Análise</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>


              <!-- <ngb-panel id="geeMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon-menu fa fa-industry"></i>
                    <span class="vsm-title">Efeito Estufa</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>

                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/gee" class="vsm-link"><span
                          class="vsm-title">Emissões</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/escopo" class="vsm-link"><span
                          class="vsm-title">Escopos</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/fonteemissao" class="vsm-link"><span
                          class="vsm-title">Fontes de Emissões</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/combustivel" class="vsm-link"><span
                          class="vsm-title">Combustíveis</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel> -->

              <ngb-panel id="cadastroMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon-menu fa fa-cog"></i>
                    <span class="vsm-title">Administração</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/usuario" class="vsm-link"><span
                            class="vsm-title">Usuário</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <div class="vsm-item">
              <a routerLink="/login" (click)="logout()" class="vsm-link">
                <i class="vsm-icon-menu fa fa-sign-out"></i>
                <span class="vsm-title">Sair</span>
              </a>
            </div>

          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>



<!-- <ngb-panel id="monitoramentoMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon-menu fa fa-calendar-check-o"></i>
                    <span class="vsm-title">Monitoramento</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>

                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/recurso" class="vsm-link"><span
                          class="vsm-title">Recursos</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/parametro" class="vsm-link"><span
                          class="vsm-title">Parâmetros</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel> -->

<!-- <ngb-panel id="residuosMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon-menu fa fa-calendar-check-o"></i>
                    <span class="vsm-title">Resíduos</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>

                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/programacao" class="vsm-link"><span
                          class="vsm-title">Programação</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/programacao-pendente" class="vsm-link"><span
                          class="vsm-title">Programações Pendentes</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel> -->
<!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/produto" class="vsm-link"><span
                          class="vsm-title">Produtos</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/produtos-liberados" class="vsm-link"><span
                          class="vsm-title">Produtos Liberados</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/usuario" class="vsm-link"><span
                          class="vsm-title">Usuários</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tecnico" class="vsm-link"><span
                          class="vsm-title">Técnicos</span></a>
                      </div> -->
