.v-sidebar-menu .vsm-icon-menu {
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -17px;
  font-size: 1.2rem;
  color: #d3ecff;
  transition: color 300ms;
}
