<carousel>
  <slide>
    <img src="assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<!-- <div class="card mb-3">
  <img src="./assets/images/licenciamento-ambiental.png" class="img-fluid" style="width: 25%;" alt="Responsive image">
  <div class="card-body">
    <h5 class="card-title">Módulo Licenciamento Ambiental</h5>
    <p class="card-text">Controle e Monitoramento de todas as etapas que envolvem as Licenças Ambientais.<p>
      <a routerLink="/licenca" class="btn btn-primary">Licenciamento</a>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="./assets/images/licenciamento-ambiental.png" style="width: 30%;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Módulo Licenciamento - LA</h5>
        <p class="card-text">Controle e Monitoramento de todas as etapas que envolvem as Licenças Ambientais.</p>
        <a routerLink="/licenca" class="btn btn-primary">Licenciamento</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="./assets/images/licenciamento-ambiental.png" style="width: 30%;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Módulo Emissões GEE - GEE</h5>
        <p class="card-text">Monitora a quantidade de toneladas de CO2 emitidas pela empresa.</p>
        <a routerLink="/gee" class="btn btn-primary">Emissões GEE</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="./assets/images/licenciamento-ambiental.png" style="width: 30%;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Módulo Monitoramento - MO</h5>
        <p class="card-text">Controle e Monitoramento de Laudos Ambientais de diversos tipos de Recursos. </p>
        <a routerLink="/monitoramento" class="btn btn-primary">Monitoramento</a>
      </div>
    </div>
  </div>


</div> -->
