<div class="form-row">
  <div class="card m-1" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/licenciamento-ambiental.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Módulo Licenciamento Ambiental</h5>
      <p class="card-text">Controle e Monitoramento de Licenças Ambientais.</p>
      <a href="/licenca" class="btn btn-primary">Licenciameto</a>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/gee.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Módulo Emissões GEE</h5>
      <p class="card-text">Controle e Monitoramento de Emissões de Gases do Efeito Estufa.</p>
      <a href="/gee" class="btn btn-primary">Emissões GEE</a>
    </div>
  </div>
</div>
