<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Cadastro
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Orgão Responsável
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
        class="header-icon fa fa-legal mr-3 text-muted opacity-6"></i> Orgaos </div>
    <div class="btn-actions-pane-right">
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-success" [routerLink]="['/orgao/adicionar']">Adicionar</a>
        <button class="btn btn-primary" type="button" (click)="editar(selected[0].id)">Editar</button>
        <button class="btn btn-dark" type="button" (click)="remover()">Remover</button>
      </div>
    </div>
  </div>
  <div class="p-3 bg-white">
    <div class="form-group form-inline mb-0">
      <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columnsOrgao" [lista]="orgao"
        [table]="tableOrgao"></ngx-datatable-filter>
    </div>
  </div>

  <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableOrgao [rows]="rowsOrgao"
    [columnMode]="'force'" [columns]="columnsOrgao" [selected]="selected" [selectionType]="'single'" [rowHeight]="'auto'"
    (activate)="activate($event)" [footerHeight]="25"
    [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}" [limit]="10">
    <ngx-datatable-column name="Nome Orgao" prop="nm_orgao" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Sigla" prop="sg_orgao" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Esfera" prop="nm_esfera" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Estado" prop="sg_estado" [flexGrow]="2"></ngx-datatable-column>
    <!-- <ngx-datatable-column name="Vigência" prop="vigencia" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniVigencia | date:'d/MM/yyyy' }} - {{row.dtFimVigencia | date:'d/MM/yyyy' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniProgramacao" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniProgramacao| date:'d/MM/yyyy'}} - {{row.dtFimProgramacao| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniRetirada" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniRetirada| date:'d/MM/yyyy'}} - {{row.dtFimRetirada| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column> -->
  </ngx-datatable>
</section>
