<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="" (click)="monitoramento()">
                  Monitoramento
                </a>
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Resultados
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i class="header-icon lnr-license mr-5 text-muted opacity-6" *ngIf="tipoMonitoramento?.id">
        {{tipoMonitoramento.nm_monitoramento}}
      </i>
    </div>
    <!-- BUUTONS -->
    <div class="btn-actions-pane-right pt-2">
      <div class="btn-group-xs btn-group" role="group">
        <div *ngIf="!isShowResultados && !isAddEdit && !isShowTalhao">
          <button (click)="inserirAmostra()" class="btn btn-success mb-2 btn-sm">Inserir Amostra</button>
        </div>
        <div *ngIf="(isShowResultados && !isAddEditResult) || isShowTalhao ">
          <button (click)="showAmostras()" class="btn btn-outline-secondary mr-2 btn-xs">Ver Amostras</button>
          <button (click)="addAmostraTalhao()" class="btn btn-success mr-2 btn-xs">Inserir Talhão</button>
        </div>
        <div *ngIf="(isShowResultados && !isAddEditResult)">
          <button (click)="editResultado()" class="btn btn-info mr-2 btn-xs">Editar Resultados</button>
        </div>
        <div *ngIf="isAddEditResult">
          <button (click)="salvarResultado()" class="btn btn-success mr-2 btn-xs">Salvar</button>
          <button (click)="cancelarResultado()" class="btn btn-danger mr-2 btn-xs">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div *ngIf="isAddEdit && !isAddEditParam">
      <div class="form-row">
        <div class="form-group col-sm-3">
          <label for="nr_amostra">N° Amostra</label>
          <input class="form-control form-control-sm" name="nr_amostra" placeholder="N° Amostra" type="text"
            [(ngModel)]="amostraLaudo.nr_amostra" onkeyup="this.value = this.value.toUpperCase();">
        </div>
        <div class="form-group col-sm-2">
          <label for="dt_amostra">Data</label>
          <input class="form-control form-control-sm" placeholder="DD/MM/AAAA" [(ngModel)]="amostraLaudo.dt_amostra"
            name="dt_amostra" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar btn-sm" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="ds_amostra">Informações</label>
          <input class="form-control form-control-sm" name="ds_amostra" placeholder="Informações da Amostra" type="text"
            [(ngModel)]="amostraLaudo.ds_amostra" onkeyup="this.value = this.value.toUpperCase();">
        </div>
      </div>
      <button (click)="addAmostra()" class="btn btn-primary mb-2 btn-sm">Salvar Amostra</button>
      <button (click)="cancelar()" class="btn btn-danger mb-2 btn-sm">Cancelar</button>
    </div>
  </div>
</section>

<section class="content">
  <div *ngIf="!isAddEditParam && !isShowTalhao" class="row">
    <div class="col-md-12">
      <div class="table-responsive" style="min-height: 500px;">
        <table class="align-middle mb-0 table table-borderless table-sm table-striped table-hover">
          <thead class="thead-light">
            <tr [ngClass]="{'table-active': !isAddEdit}">
              <th class="text-center" width="3%"></th>
              <th class="text-left" width="8%">N° Amostra</th>
              <th class="text-left" width="10%">Data</th>
              <th class="text-left">Informações</th>
              <th class="text-center" width="10%">Editar Amostra</th>
              <th class="text-center" width="10%">Deletar Amostra</th>
              <th class="text-center" width="10%">Parâmetros</th>
              <th class="text-center" width="10%">Talhões</th>
            </tr>
          </thead>
          <tbody>
            <!-- DADOS DA TABLE -->
            <tr *ngFor="let am of amostras; let i = index">
              <td class="text-center text-muted">{{i+1}}</td>
              <td class="text-left">{{am.nr_amostra}}</td>
              <td class="text-left">{{am.dt_amostra | date:'dd/MM/yyyy'}}</td>
              <td class="text-left">{{am.ds_amostra}}</td>
              <td class="text-center icons">
                <i class="pe-7s-tools text-primary" (click)="editarItem(am)"></i>
              </td>
              <td class="text-center icons">
                <i class="pe-7s-trash text-danger" (click)="removerAmostra(am.id)"></i>
              </td>
              <td class="text-center icons">
                <i class="pe-7s-plus text-success" (click)="getResultadoAmostra(am)"></i>
              </td>
              <td class="text-center icons">
                <i class="pe-7s-plus text-success" (click)="getAmostraTalhao(am)"></i>
              </td>
            </tr>

          </tbody>
        </table>
        <div class="divider"></div>
      </div>
    </div>
  </div>

  <!--Resultado-->
  <div *ngIf="isAddEditParam">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" style="min-height: 500px;">
          <!-- Editable table -->
          <div class="card">
            <div class="card-body">
              <h5 *ngIf="isShowAmostras" class="text-muted pl-1">
                Amostra n°: {{nrAmostra}} - {{dsAmostra}}
              </h5>
              <div id="table" class="table-editable">
                <span class="table-add float-right mb-3 mr-2">
                  <a class="text-success" (click)="add()">
                    <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                  </a>
                </span>
                <table  class="table table-sm table-bordered table-responsive-md table-striped table-hover text-center">
                  <tr>
                    <th>Parâmetro</th>
                    <th class="text-center">UN.</th>
                    <th class="text-center">Padrão Inicial</th>
                    <th class="text-center">Padrão Final</th>
                    <th class="text-center">Operador</th>
                    <th class="text-center qtd-input" width="10%">Resultado</th>
                  </tr>
                  <tr *ngFor="let item of resultadoAmostra.resultados; let id = index">
                    <td>
                      <span>{{item.parametro.sg_parametro}}</span>
                    </td>
                    <td>
                      <span>{{item.cd_unidade_padrao}}</span>
                    </td>
                    <td>
                      <span>{{item.nr_padrao_inicial}}</span>
                    </td>
                    <td>
                      <span>{{item.nr_padrao_final}}</span>
                    </td>
                    <td>
                      <span>{{item.ds_operador}}</span>
                    </td>
                    <td *ngIf="!isAddEditResult">
                      <span>{{item.nr_resultado}}</span>
                    </td>
                    <td *ngIf="isAddEditResult" class="text-center">
                      <div class="form-group">
                        <input class="form-control form-control-xs text-right" name="nr_resultado"
                          placeholder="Resultado" type="number" [(ngModel)]="resultadoAmostra.resultados[id].nr_resultado">
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- Editable table -->
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

  <!--Talhão-->
  <div *ngIf="isShowTalhao">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" style="min-height: 500px;">

          <!-- Editable table -->
          <div class="card">
            <div class="card-body">
              <h5 *ngIf="isShowTalhao" class="text-muted pl-1">
                Amostra n°: {{nrAmostra}} - {{dsAmostra}}
              </h5>
              <div id="table" class="table-editable">
                <span class="table-add float-right mb-3 mr-2">
                  <a class="text-success" (click)="add()">
                    <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                  </a>
                </span>
                <table class="table table-sm table-bordered table-responsive-md table-striped table-hover text-center">
                  <tr>
                    <th>Nome</th>
                    <th>Área Agricultavel</th>
                  </tr>

                  <tr *ngFor="let item of talhoesAmostra; let id = index">
                    <td>
                      <span>{{item.talhao.nm_talhao}}</span>
                    </td>
                    <td>
                      <span>{{item.nr_safra}}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- Editable table -->
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</section>
