<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="" (click)="monitoramento()">
                  Monitoramento
                </a>
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Resultados
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i class="header-icon lnr-car mr-3 text-muted opacity-6" *ngIf="fonte?.id">
        nm_fonte_emissao
      </i>
    </div>
  </div>
  <div class="p-3 bg-white">

    <div *ngIf="isAddEdit">
      <div class="form-row">
        <!-- <div class="form-group col-md-2">
          <label for="dt_amostra">Data</label>
          <input class="form-control form-control-sm" (click)="dt_amostra.toggle()" placeholder="dia/mês/ano"
            name="dt_amostra" ngbDatepicker [(ngModel)]="amostraLaudo.dt_amostra" #dt_amostra="ngbDatepicker"
            autocomplete="off" readonly>
          <button class="btn btn-primary btn-sm" (click)="dt_amostra.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div> -->
        <div class="form-group col-md-4">
          <label for="parametro_id">Parâmetro</label>
          <!-- <ng-select class="form-control form-control-sm" [items]="parametrosList" bindValue="parametro_id" bindLabel="sg_parametro"
          [(ngModel)]="amostraLaudo.parametro_id" name="parametro_id" placeholder="Buscar Parâmetro...">
        </ng-select> -->
          <select class="form-control form-control-sm" [(ngModel)]="amostraLaudo.parametro_id" name="parametro_id"
            placeholder="Buscar Parâmetro...">
            <option *ngFor="let parametro of parametrosList" [value]="parametro.parametro_id">
              {{parametro.sg_parametro}} - {{parametro.nm_parametro}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="cd_unidade_padrao">Unidade Consumo</label>
          <input class="form-control form-control-sm" name="cd_unidade_padrao" placeholder="UN." type="text"
            [(ngModel)]="amostraLaudo.cd_unidade_padrao" onkeyup="this.value = this.value.toUpperCase();">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="nr_padrao_inicial">Padrão Inicial</label>
          <input class="form-control form-control-sm" name="nr_padrao_inicial" type="number"
            [(ngModel)]="amostraLaudo.nr_padrao_inicial">
        </div>
        <div class="form-group col-md-2">
          <label for="nr_padrao_final">Padrão Final</label>
          <input class="form-control form-control-sm" name="nr_padrao_final" type="number"
            [(ngModel)]="amostraLaudo.nr_padrao_final">
        </div>
        <div class="form-group col-md-2">
          <label for="ds_operador">Operador</label>
          <select class="form-control form-control-sm" id="ds_operador" type="select"
            [(ngModel)]="amostraLaudo.ds_operador" required>
            <option value="IGUAL">Igual</option>
            <option value="ENTRE">Entre</option>
            <option value="MAIOR">Maior que</option>
            <option value="MENOR">Menor que</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="nr_resultado">Resultado</label>
          <input class="form-control form-control-sm" name="nr_resultado" type="number"
            [(ngModel)]="amostraLaudo.nr_resultado">
        </div>
      </div>
      <button (click)="addAmostra()" class="btn btn-primary mb-2 btn-sm">Salvar Resultados</button>
      <button (click)="cancelar()" class="btn btn-danger mb-2 btn-sm">Cancelar</button>
    </div>
    <div *ngIf="!isAddEdit">
      <button (click)="inserirResultado()" class="btn btn-success mb-2 btn-sm">Inserir Resultados</button>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive" style="min-height: 500px;">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr [ngClass]="{'table-active': !isAddEdit}">
              <th class="text-center"></th>
              <!-- <th width="10%">Data</th> -->
              <th class="text-center" width="10%">Parâmetro</th>
              <th class="text-center qtd-input">Un.</th>
              <th class="text-center qtd-input">Padrão I.</th>
              <th class="text-center qtd-input">Padrão F.</th>
              <th class="text-center qtd-input">Operador</th>
              <th class="text-center qtd-input">Resultado</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!amostras?.length">
              <td colspan="6" class="text-center">
                <h6 class="mt-3">Nenhuma amostra adicionada</h6>
                <!-- <button *ngIf="!isAddEdit" class="mb-2 mr-2 mt-3 btn-icon btn-pill btn btn-outline-success"
                  style="margin-right: 7px;" (click)="add()"><i
                    class="pe-7s-check btn-icon-wrapper"></i>Inserir</button> -->
              </td>
            </tr>

            <!-- DADOS DA TABLE -->
            <tr *ngFor="let am of amostras; let i = index">
              <td class="text-center text-muted">{{i+1}}</td>

              <!-- <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left flex2">
                      <div class="widget-heading">{{am.dt_amostra | date:'dd/MM/yyyy'}}</div>
                    </div>
                  </div>
                </div>
              </td> -->
              <td class="text-center">{{am.sg_parametro}}</td>
              <td class="text-center">{{am.cd_unidade_padrao}}</td>
              <td class="text-center">{{am.nr_padrao_inicial | number}}</td>
              <td class="text-center">{{am.nr_padrao_final | number}}</td>
              <td class="text-center">{{am.ds_operador}}</td>
              <td class="text-center">{{am.nr_resultado | number}}</td>
              <td class="text-right icons">
                <i class="pe-7s-tools text-primary" (click)="editarItem(am)"></i>
                <i class="pe-7s-trash text-danger" (click)="removerResultado(am.id)"></i>
              </td>
            </tr>

          </tbody>
        </table>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</section>



<!--
<div class="form-group form-inline mb-0">
  <div class="col-sm-3">
    <label for="dt_amostra">Data</label>
    <input class="form-control form-control-sm" (click)="dt_amostra.toggle()" placeholder="dia/mês/ano"
      name="dt_amostra" ngbDatepicker [(ngModel)]="amostraLaudo.dt_amostra" #dt_amostra="ngbDatepicker"
      autocomplete="off" readonly>
    <button class="btn btn-primary btn-sm" (click)="dt_amostra.toggle()" type="button">
      <i class="fa fa-calendar"></i>
    </button>
  </div>

  <div class="col-sm-3">
    <label for="parametro_id">Parâmetro</label>
    <ng-select [items]="parametrosList" bindValue="parametro_id" bindLabel="sg_parametro"
      [(ngModel)]="amostraLaudo.parametro_id" name="parametro_id" placeholder="Buscar Parâmetro...">
    </ng-select>
  </div>

  <div class="col-sm-2">
    <label for="cd_unidade_padrao">Unidade Consumo</label>
    <input class="form-control form-control-sm" name="cd_unidade_padrao" placeholder="UN." type="text"
      [(ngModel)]="amostraLaudo.cd_unidade_padrao" onkeyup="this.value = this.value.toUpperCase();">
  </div>
</div>

<div class="form-group form-inline mb-0">
  <div class="col-sm-2">
    <label for="nr_padrao_inicial">Padrão Inicial</label>
    <input class="form-control form-control-sm" name="nr_padrao_inicial" type="number"
      [(ngModel)]="amostraLaudo.nr_padrao_inicial">
  </div>
  <div class="col-sm-2">
    <label for="nr_padrao_final">Padrão Final</label>
    <input class="form-control form-control-sm" name="nr_padrao_final" type="number"
      [(ngModel)]="amostraLaudo.nr_padrao_final">
  </div>
  <div class="col-sm-2">
    <label for="ds_operador">Operador</label>

    <select class="form-control" id="ds_operador" type="select"
    [(ngModel)]="amostraLaudo.ds_operador" required>
      <option value="IG">Igual</option>
      <option value="EN">Entre</option>
      <option value="MA">Maior que</option>
      <option value="ME">Menor que</option>
    </select>
  </div>
  <div class="col-sm-2">
    <label for="nr_resultado">Resultado</label>
    <input class="form-control form-control-sm" name="nr_resultado" type="number"
      [(ngModel)]="amostraLaudo.nr_resultado">
  </div>
  <div class="col-sm-2 mb--2 icons">
    <i class="pe-7s-check btn-icon-wrapper text-success" style="font-size: 33px; margin-right: 0px;"
      (click)="addItem()"></i>
  </div>
</div> -->
