<div class="app-page-title app-page-title-simple" style="padding-bottom: 15px;">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        <div class="page-title-subheading opacity-10">
          <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="">
                  <fa name="home"></fa>
                </a>
              </li>
              <li class="breadcrumb-item">
                Cadastro
              </li>
              <li class="active breadcrumb-item" aria-current="page">
                Recurso
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
        class="header-icon lnr-store mr-3 text-muted opacity-6"></i> Recursos </div>
    <div class="btn-actions-pane-right">
      <div class="btn-group-sm btn-group" role="group">
        <a class="btn btn-success" [routerLink]="['/recurso/adicionar']">Adicionar</a>
        <button class="btn btn-primary" type="button" (click)="editar(selected[0].nm_recurso)">Editar</button>
        <button class="btn btn-dark" type="button" (click)="remover()">Remover</button>
      </div>
    </div>
  </div>
  <div class="p-3 bg-white">
    <div class="form-group form-inline mb-0">
      <ngx-datatable-filter [margin]="'-6px'" [float]="'left'" [columns]="columnsRecurso" [lista]="recursos"
        [table]="tableCampanha"></ngx-datatable-filter>
    </div>
  </div>

  <ngx-datatable ngx-resize-watcher class="bootstrap striped" #tableCampanha [rows]="rowsRecurso" [footerHeight]="80"
    [columnMode]="'force'" [columns]="columnsRecurso" [selected]="selected" [selectionType]="'single'" [rowHeight]="'auto'"
    (activate)="activate($event)"
    [messages]="{'emptyMessage': 'Nenhum resultado encontrado...', 'totalMessage': 'total'}" [limit]="5">
    <ngx-datatable-column name="Nome Recurso" prop="nm_recurso" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Descrição" prop="ds_recurso" [flexGrow]="2"></ngx-datatable-column>
    <!-- <ngx-datatable-column name="Vigência" prop="vigencia" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniVigencia | date:'d/MM/yyyy' }} - {{row.dtFimVigencia | date:'d/MM/yyyy' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniProgramacao" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniProgramacao| date:'d/MM/yyyy'}} - {{row.dtFimProgramacao| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Período Programação" prop="dtIniRetirada" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.dtIniRetirada| date:'d/MM/yyyy'}} - {{row.dtFimRetirada| date:'d/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column> -->
  </ngx-datatable>
</section>
