<div class="modal-header">
  <h5 class="modal-title pull-left">
    <i class="pe-7s-paperclip p-1"></i>Anexos
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-row">
    <div class="col-sm-6">
      <div class="card-title">
        <i class="fa fa-user-circle p-1" aria-hidden="true"></i> {{monitoramento.entidade.nm_reduzido}}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-subtitle">
        <i class="fa fa-map-marker p-1" aria-hidden="true"></i>{{monitoramento.propriedade.nm_propriedade}}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6">
      <i class="fa fa-globe p-1"><b> Recurso:</b> {{monitoramento.recurso.nm_recurso}} </i>
    </div>
    <div class="col-sm-6">
      <i class="fa fa-gears"><b> Fonte:</b> {{monitoramento.fonte_emissora.nm_fonte_emissora}}</i>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6">
      <i class="fa fa-flask p-1"><b> Monitoramento:</b> {{laudo.nm_monitoramento}} </i>
    </div>
    <div class="col-sm-6">
      <i class="fa fa-angle-double-right p-1"><b> Laudo Número:</b> {{laudo.nr_laudo}}</i>
    </div>
  </div>
  <div class="divider mb-0"></div>
  <div class="form-row p-2">
    <div class="col-sm-6">
      <div class="loader-wrapper d-flex justify-content-center align-items-center" *ngIf="loading">
        <div class="loader">
          <div class="ball-scale-ripple">
            <div></div>
          </div>
        </div>
      </div>
      <input *ngIf="!loading" type="file" class="form-control-file" id="exampleFormControlFile1" data-toggle="tooltip" data-placement="top" title="Arquivo até 10MB - Selecione em seguida pressione Enviar!"
        (change)="prepareFile($event)" [(ngModel)]="file">
    </div>
    <div class="col-sm-6 text-right">
      <button *ngIf="byteArray" data-toggle="tooltip" data-placement="top" title="Gravar arquivo selecionado."
        type="button" class="btn btn-primary btn-xs p-2" (click)="save()">
        <i class="fa fa-save p-1"></i>Salvar
      </button>
    </div>
  </div>
  <div *ngIf="!loading" class="table-responsive" style="min-height: 500px;">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
        <tr [ngClass]="{'table-active': !isAddEdit}">
          <th class="text-left">Arquivo</th>
          <th class="text-right" width="2%">Download</th>
          <th class="text-right" width="2%">Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!arquivos?.length">
          <td colspan="6" class="text-center">
            <h6 class="mt-3">Nenhuma arquivo adicionado</h6>
          </td>
        </tr>
        <!-- DADOS DA TABLE -->
        <tr *ngFor="let file of arquivos; let i = index">
          <td>
            {{file.nm_arquivo}}
          </td>
          <td class="text-right icons">
            <i class="pe-7s-download text-primary" (click)="download(file.arquivo, file.nm_arquivo)"></i>
          </td>
          <td class="text-right icons">
            <i class="pe-7s-trash text-danger" (click)="remover(file.id)"></i>
          </td>
        </tr>

      </tbody>
    </table>
    <!-- <div class="divider"></div> -->
  </div>

  <div class="modal-footer" style="clear: both;">
    <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">Fechar</button>
  </div>
